/* CSS file for Flexbox Fun */



h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.flexitem {
    background: dodgerblue;
    padding: 0.5em;
    width: 5em;
    height: 5em;
    margin: 0.5em;
    line-height: 5em;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.box {

}
.a {
    display: flex;
    flex-direction: row;
}

.b {
    display: flex;
    flex-direction: row-reverse;
}

.c {
    display: flex;
    flex-direction: column;
}

.d {
    display: flex;
    flex-direction: column-reverse;
}

.e {
    display: flex;
    width: 45em;
    flex-wrap: wrap;
}

.f {
    display: flex;
    width: 45em;
    flex-wrap: wrap-reverse;
}

.g {
    display: flex;
    flex-direction: column;
    height: 45em;
    flex-wrap: wrap;
}

.h {
    display: flex;
    flex-direction: column;
    height: 45em;
    flex-wrap: wrap-reverse;
}

.i {
    display: flex;
    flex-direction: column-reverse;
    height: 45em;
    flex-wrap: wrap;
}

.j {
    display: flex;
    flex-direction: column-reverse;
    height: 45em;
    flex-wrap: wrap-reverse;
}