/* CSS file for Flexbox Fun */



h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.flexitem {
    background: dodgerblue;
    padding: .5em;
    width: 1em;
    height: 2em;
    margin: 0.5em;
    line-height: 1em;
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
}

.box {
    border: 1px solid red;

}
.a {
    display: flex;
    flex-direction: row;
}

.b {
    display: flex;
    flex-direction: row-reverse;
}

.c {
    display: flex;
    flex-direction: column;
}

.d {
    display: flex;
    flex-direction: column-reverse;
}

.e {
    display: flex;
    width: 10em;
    flex-wrap: wrap;
}

.f {
    display: flex;
    width: 10em;
    flex-wrap: wrap-reverse;
}

.g {
    display: flex;
    flex-direction: column;
    height: 10em;
    flex-wrap: wrap;
}

.h {
    display: flex;
    flex-direction: column;
    height: 10em;
    flex-wrap: wrap-reverse;
}

.i {
    display: flex;
    flex-direction: column-reverse;
    height: 10em;
    flex-wrap: wrap;
}

.j {
    display: flex;
    flex-direction: column-reverse;
    height: 10em;
    flex-wrap: wrap-reverse;
}

.k {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.l {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.m {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.n {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.o {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.p {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.q {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10em;
}
.flex-start { align-self: flex-start; }
.flex-end { align-self: flex-end; }
.center { align-self: center; }
.baseline { align-self: baseline; }
.stretch { align-self: stretch; }

.div1 { order: 2; }
.div2 { order: 10; }
.div3 { order: 0; }
.div4 { order: -2; }
.div5 { order: -1; }